[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #EC6D13;
    --md-accent-fg-color:        #EC6D13;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #EC6D13;
    --md-accent-fg-color:        #FFFFFF;
}
